body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

.jumbotron {
    background-color: white;
}

#cat-header {
    padding-right: 15px;
}

.display-4 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 40px;
}

.lead {
    color: gray;
    letter-spacing: 8px;
    font-family: 'Scheherazade', serif;
    color: #b785a7;
}

.row {
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
}

.cat-image {
    width: 200px;
    height: 200px;
}


